body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: map-get($color, "magnolia");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25;
}
